@model IEnumerable<Shop.Application.Cart.GetCart.Response>

@{ 

}

<div>
    <h2>Big Cart Component</h2>
    @foreach (var product in Model)
    {
        <p>@product.Name</p>
        <p>@product.Value</p>
        <p>@product.Qty</p>
        <p>@product.StockId</p>
        <hr />
    }

</div>