<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/lib/bulma/css/bulma.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/lib/bulma/css/bulma.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item" asp-page="/Index">
                <img src="~/images/logo3.jpg" width="65" height="300">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <vc:cart view="Small"></vc:cart>
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-item" asp-page="/Admin/Index">
                        Admin
                    </a>
                }
            </div>

            <div class="navbar-end">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-item" asp-controller="Account" asp-action="Logout">Sign Out</a>
                }
                else
                {
                    <a class="navbar-item" asp-page="/Accounts/Login">Sign In</a>
                }
            </div>
        </div>
    </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - QuickBuy</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
