@page
@model ShopUI.Pages.CartModel
@{
}

<div class="container">
    <div class="columns">
        <div class="column is-8 is-offset-2">
            @foreach (var product in Model.Cart)
            {
                <div class="level">
                    <div class="level-item">
                        <figure class="image is-128x128">
                            <img src="~/images/item.jpg" />
                        </figure>
                    </div>

                    <div class="level-item">
                        <p class="title">
                            @product.Name
                        </p>
                    </div>
                    <div class="level-item">
                        <p>@product.Qty</p>
                    </div>
                    <div class="level-item">
                        <p>@product.Value</p>
                    </div>
                </div>
            }

        <div class="has-text-right">
            <a asp-page="/Index" class="button is-text">Resume Shopping</a>
            <a asp-page="/Checkout/Payment" class="button is-success">Checkout</a>
        </div>
        </div>
    </div>

</div>

<vc:cart view="Small"></vc:cart>