@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    @{
        foreach (var p in Model.Products)
        {
            <a asp-page="Product" asp-route-name="@p.Name.Replace(" ","-")">
                @p.Name - @p.Description - @p.Value
            </a>
            <br />
        }
    }
</div>
@await Component.InvokeAsync("Cart") 