@page
@model ShopUI.Pages.Admin.OrderManagementModel
@{
}

<div id="app">
    <div v-if="selectedOrder === null">
        <div class="tabs is-centered">
            <ul>
                <li v-bind-class="{'is-active':status===0}"><a @@click="status=0">Pending</a></li>
                <li v-bind-class="{'is-active':status===1}"><a @@click="status=1">Packed</a></li>
                <li v-bind-class="{'is-active':status===2}"><a @@click="status=2">Shipped</a></li>
            </ul>
        </div>
        <div v-if="orders.length > 0">
            <div class="column" v-for="order in orders">
                <label class="label"> Order reference - Customer E-mail </label>
                <a @@click="selectOrder(order.id)">{{order.orderRef}} - {{order.email}}</a>
            </div>
        </div>
    </div>
    <div v-else>
        <p>
            <button class="button is-danger" @@click="exitOrder()">Exit</button>
        </p>
        <p class="title">{{selectedOrder.orderRef}}</p>
        <p class="subtitle">{{selectedOrder.email}}</p>
        <button class="button is-warning" @@click="updateOrder()">Process</button>
    </div>
</div>

@section scripts {
    <script src="~/js/Admin/orders.js"></script>
}